.cell {
    height: 100px;
    width: 120px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 20px;    
}
/* .money:hover{
    background-color: white;
} */
.hover:hover{
    background-color: white;
}

.info {
    margin: auto;
    text-align: center;
}

.money {
    color: yellow;
    font-size: 25px;
    font-weight: bold;
}

.grid {
    flex-wrap: wrap;
}

.bottomRow {
    height: 100px;
    width: 500px;
    /* background-color: pink; */
}

.currentCell {
    background-color: grey;
}

#endMessage {
    display: flex;
    width: 40vw;
    height: 20vh;
    background-color: white;
    position: absolute;
    left: 30vw;
    top: 30vh;
    border-radius: 10px;
}

#endMessageText{
    text-align: center;
    margin: auto;

}

#timer{
    /* margin-bottom: 5px; */
    margin-top: 5px;
    display: flex;
    /* background-color: pink; */
    width: 630px;
    height: 20px;
}

.light{
    margin-right: 5px;
    margin-left: 5px;
    background-color: orange;
    width: 20px;
    height: 10px;
}