.cell {
    height: 100px;
    width: 120px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 20px;
}

.info {
    margin: auto;
    text-align: center;
}

.money {
    color: yellow;
    font-size: 25px;
    font-weight: bold;
}

.grid {
    flex-wrap: wrap;
}

.bottomRow {
    height: 100px;
    width: 500px;
    /* background-color: pink; */
}

.currentCell {
    background-color: grey;
}