.cell {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 1px solid black;
}
.grid {
   flex-wrap: wrap;
   
}

.bottomRow {
    height: 100px;
    width: 500px;
    background-color: pink;
}

.currentCell {
    background-color: grey;
}